<%- include('partials/header.ejs') %> 
<body>
    <div id="indexHeader">
        <h1>Mike Limpus</h1>
        <h2>ILP Portfolio Page</h2>
    </div>
    <div class="headerContainer">
        <div id="headerText">
            <p id="indexText">
                AS in Computer Science and Physics, AA in Mathematics from
                Crafton Hills College. Currently undertaking BS program at 
                California State University Monterey Bay. My goal is to gain a 
                broad set of skills to apply in a software engineering career.
            </p>
        </div>
        <div id="headerImg">
            <img src="./media/0.jpg" alt="Portrait" width="60%">
        </div>
    </div>
    <div class="listContainer">
        <div class="listColumn">
            <a href="/cst300"><h3>CST 300 - Major ProSeminar</h3></a>
            <a href="/cst338"><h3>CST 338 - Software Design</h3></a>
            <a href="/cst363"><h3>CST 363 - Database Management</h3></a>
            <a href="/cst334"><h3>CST 334 - Operating Systems</h3></a>
            <a href="/cst311"><h3>CST 311 - Intro to Computer <br> Networking</h3></a>
            <a href="/cst336"><h3>CST 336 - Internet Programming</h3></a>
        </div>
        <div class="listColumn">
            <a href="/cst462"><h3>CST 462S - Race, Gender, and Class in the Digital World</h3></a>
            <a href="/cst328"><h3>CST 328 - Digital Art and Design</h3></a>
            <a href="/cst370"><h3>CST 370 - Algorithms</h3></a>
            <a href="/cst383"><h3>CST 383 - Intro to Data Science</h3></a>
            <a href="/cst329"><h3>CST 329 - Reasoning with Logic</h3></a>
            <a href="/cst438"><h3>CST 438 - Software Engineering</h3></a>
            <a href="/cst499"><h3>CST 499 - Capstone</h3></a>
        </div>
    </div>
    <center><img id="logo" src="./media/csumb-round-logo.png" alt="Logo" width="10%"> <br></center>
    
    
</body>
</html>